h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

table {
    width: 20%;
}

td {
    border: 1px solid #dddddd;
    width:.23%;
    padding-bottom:2.3%;
    position:relative;
}

th {
    border: 1px solid #949494;
    width: .23%;
    
}

td:after {
    display:block;
    margin-top: 100%;
}

.tableButton {
  width:100%;
  height:100%;

}

img {
    max-width: 100%;
    max-height: 100vh;
}

.overlay {
    position:fixed;
    top:  0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index: 1;

    
}

.overlayContent {
    background-color: white;
    margin:auto;
    margin-top: 10%;
    width: 50%;
    max-height:75%;
    z-index: 2;
    

    
    
    
}
.scroll {
    overflow-y: scroll;
}

.disabled {
    display:none;
    
}

